@import url("https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Science+Gothic:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #010a10;
  color: white;
  font-family: "Roboto", sans-serif;
}

.header-container {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  align-items: center;
}

.logo-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 25px;
}

.logo-wrapper nav {
  font-size: 40px;
  font-weight: bold;
  color: #0d6efd;
}

.mainmenu-nav {
  display: flex;
  justify-content: space-between;
  gap: 75px;
}

.mainmenu-nav li {
  list-style-type: none;
  padding: 15px;
  border-radius: 6px;
}
.mainmenu-nav a {
  text-decoration: none;
  color: white;
  font-weight: 700;
}

.mainmenu-nav li:hover {
  background-color: #0d6efd;
  opacity: 0.9;
  color: white;
  transition: background-color 0.5s;
}

.icons-container nav {
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

.first-wrapper {
  display: block;
  justify-items: center;
}
.first-image-container img {
  width: 300px;
  height: 400px;
}
.second-wrapper-container {
  text-align: center;
  justify-items: center;
}

.greeting {
  font-size: 36px;
}

.first-outer-wrapper {
  margin-top: 20px;
}
